{% block form %}
    {{ form_start(form ) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, { 'attr' : { 'class' : 'form-control'}  }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.dateTime) }}
        {{ form_widget(form.dateTime, { 'attr' : {'class' : 'form-control' } }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.money) }}
        {{ form_errors(form.money) }}
        {{ form_widget(form.money, { 'attr' : { 'class' : 'form-control number'}  }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_errors(form.category) }}
        {{ form_widget(form.category, { 'attr' : { 'class' : 'form-control'}  }) }}
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                {{ form_label(form.submit) }}
                {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-success btn-block save'}  }) }}
            </div>
            <div class="col-xs-6">
                <button id="{{ form.submit.vars.id }}_add_next" class="btn btn-success btn-block save">Save & Next
                </button>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock form %}