{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form , { 'attr' : { 'class' : 'form-inline'}  }) }}

<div class="form-group">
    {{ form_label(form.dateFrom) }}
    {{ form_errors(form.dateFrom) }}
    {{ form_widget(form.dateFrom, { 'attr' : { 'class' : 'form-control'}  }) }}
</div>
<div class="form-group">
    {{ form_label(form.dateTo) }}
    {{ form_errors(form.dateTo) }}
    {{ form_widget(form.dateTo, { 'attr' : { 'class' : 'form-control'}  }) }}
</div>
<div class="form-group">
    {{ form_label(form.submit) }}
    {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-default btn-block save'}  }) }}
</div>

{{ form_rest(form) }}
{{ form_end(form) }}